# Node
node_modules/
dist/
.next/
.cache/
/.next/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build-output*.log
build-error*.log
# OS
.DS_Store
Thumbs.db
# Env files
.env
.env.local
.env.*.local
!.env.example
# Python
__pycache__/
*.pyc
.venv/
python/.venv/
# Supabase migrations
db/migrations/*.sql
# Build artifacts
out/
build/
*.tsbuildinfo

# Supabase CLI scratch dir
supabase/.temp/

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
